table {
    border-collapse: collapse;
    border: 2px solid black;
    width: 100%;
}
th, td {
    text-align: center;
    padding: 20px;
    border: 2px solid black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.done {
    background-color: #90EE90;
}
.pending {
    background-color: #F08080;
}
.in-progress {
    background-color: #FFFFE0;
}
thead {
    background-color: #345281;
    color: white;
}
.name {
    background-color: #5F3D53;
    color: white;
}
.dep {
    background-color: #DE945B;
}
.task {
    background-color: #4FB6AB;
}
caption {
    background-color: #EEC6A6;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
    font-size: 1.4em;
    text-transform: uppercase;
}
body {
    background-color: #EEC6A6;
}
.comp {
    background-color: #497ac9;
    color: white;
    font-weight: bolder;
    text-align: center;
}
tbody tr:hover td{
    background-color: #444444 !important;
    color: white !important;
    transition: background-color 0.4s ease-in-out;
    cursor: pointer;
}